<div class= "row">
    <h1>Educación</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li><h1>Estudios 1</h1> - <h3>(years)</h3></li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                 Deleniti ut laborum inventore at eum nam possimus quos consequuntur. 
                 Cum id eum delectus doloribus iure quisquam reiciendis 
                 non ipsa architecto animi!
            </p>
        </ul>
        <ul>
            <li><h1>Estudios 2</h1> - <h3>(years)</h3></li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                 Deleniti ut laborum inventore at eum nam possimus quos consequuntur. 
                 Cum id eum delectus doloribus iure quisquam reiciendis 
                 non ipsa architecto animi!
            </p>
        </ul>
        <ul>
            <li><h1>Estudios 3</h1> - <h3>(years)</h3></li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                 Deleniti ut laborum inventore at eum nam possimus quos consequuntur. 
                 Cum id eum delectus doloribus iure quisquam reiciendis 
                 non ipsa architecto animi!
            </p>
        </ul>
    </div>

</div>